<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3E2D560F-4876-4062-8FA0-0C85CA572241</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B339A220-64E6-4049-9B94-62EF62C8F406</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A63AAB64-178A-4549-9C9F-D08A45D30847</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3C2F9BA-E6BF-4131-A57A-909907940254</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B204C7B1-9683-4B3A-A276-75F5AB5F1C9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E2D560F-4876-4062-8FA0-0C85CA572241</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21A4A522-BE7A-4BED-9BB1-92B97B04E697</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A63AAB64-178A-4549-9C9F-D08A45D30847</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>star</string>
	<key>description</key>
	<string>query_words</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>query_words</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*=(.*?)=http.*</string>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3E2D560F-4876-4062-8FA0-0C85CA572241</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>dc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>ing...</string>
				<key>script</key>
				<string>python jsfy.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Query English Word...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B204C7B1-9683-4B3A-A276-75F5AB5F1C9F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B339A220-64E6-4049-9B94-62EF62C8F406</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
url=`echo $query | cut -d "=" -f4`
if [ ! -z "$url" ]
then
    curl -so phonic.mp3 $url
    afplay phonic.mp3
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21A4A522-BE7A-4BED-9BB1-92B97B04E697</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*=(.*?)=.*=http.*</string>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>A63AAB64-178A-4549-9C9F-D08A45D30847</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3C2F9BA-E6BF-4131-A57A-909907940254</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21A4A522-BE7A-4BED-9BB1-92B97B04E697</key>
		<dict>
			<key>note</key>
			<string>发音</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>3E2D560F-4876-4062-8FA0-0C85CA572241</key>
		<dict>
			<key>note</key>
			<string>过滤</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A63AAB64-178A-4549-9C9F-D08A45D30847</key>
		<dict>
			<key>note</key>
			<string>过滤</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>B204C7B1-9683-4B3A-A276-75F5AB5F1C9F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>B339A220-64E6-4049-9B94-62EF62C8F406</key>
		<dict>
			<key>note</key>
			<string>复制</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>C3C2F9BA-E6BF-4131-A57A-909907940254</key>
		<dict>
			<key>note</key>
			<string>添加单词队列</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>blog.cxstars.com</string>
</dict>
</plist>
